@model CodeGen.Model.PrimaryLink.Primary
@{
    ViewBag.Title = "ActivePrimaryLink";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


    <div>
        <p>
            Please confirm you want to Active  Primary Link:
            <b> @Model.PlinkName? </b>
        </p>
    </div>


    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Active" /> |
            @Html.ActionLink("Back to List", "ViewActivePrimaryLink")
        </p>
    }


