@model CodeGen.Model.HirerachyMaster.Hierarchy
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Add Hierarhy Master";
}


@section Scripts {
    <script src="~/js/AdminConsole/HierarchyMaster.js"></script>

}
    <div class="section">
        <div class="page-title">
            <div class="title-details">
                <h4>Add Hierarchy Master</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                        <li class="breadcrumb-item">Hierarchy Master</li>
                        <li class="breadcrumb-item active" aria-current="page">Add Hierarchy Master</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">

                    <div class="card-header">
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <a class="nav-item nav-link active" asp-controller="HirerachyMaster" asp-action="AddHirerarchy">Add</a>
                            <a class="nav-item nav-link" asp-controller="HirerachyMaster" asp-action="ViewActiveHirerarchy">Active</a>
                            <a class="nav-item nav-link" asp-controller="HirerachyMaster" asp-action="ViewInActiveHirerarchy">InActive</a>
                        </ul>
                        <div class="indicatorslist">
                            <p class="ml-2 text-danger">(*) Indicates mandatory </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="frmCreateHierarchy" data-parsley-validate novalidate method="post" asp-action="AddHirerarchy" asp-controller="HirerachyMaster" asp-area="" asp-antiforgery="true" onsubmit="return validateForm()">
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-xl-2 control-label">
                                    Hierarchy Name
                                    <span class="text-danger">*</span>
                                    <span class="colon">:</span>
                                </label>
                                <div class="col-12 col-md-6 col-xl-4">


                                    <input asp-for="NVCHHIERARCHYNAME" type="text" id="txthierarchy" name="NVCHHIERARCHYNAME"
                                       class="form-control" Onkeypress="return inputLimiter(event,'NameCharacters')"
                                       placeholder="Enter Hierarchy Name" autocomplete="off" maxlength="100" autofocus />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-xl-2 control-label">
                                    No Of Level
                                    <span class="text-danger">*</span>
                                    <span class="colon">:</span>
                                </label>
                                <div class="col-12 col-md-6 col-xl-4">

                                    <input asp-for="INTNOLEVEL" type="text" id="txtnooflevel" name="INTNOLEVEL"
                                       Onkeypress="return inputLimiter(event,'Numbers')" class="form-control" placeholder="Enter No Of  Level" autocomplete="off" maxlength="3" />
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-xl-2 control-label">
                                    Alias Name
                                    <span class="text-danger">*</span>
                                    <span class="colon">:</span>
                                </label>
                                <div class="col-12 col-md-6 col-xl-4">

                                    <input asp-for="VCHHIERARCHYALIAS" type="text" id="txtaliasname" name="VCHHIERARCHYALIAS"
                                       Onkeypress="return inputLimiter(event,'NameCharacters')"
                                       class="form-control" placeholder="Enter Alias Name" autocomplete="off" maxlength="5" />
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-xl-2 control-label">
                                    Address
                                    <span class="colon">:</span>
                                </label>
                                <div class="col-12 col-md-6 col-xl-4">

                                    <textarea asp-for="NVCHADDRESS" type="text" id="txtaddress" name="NVCHADDRESS" Onkeypress="return inputLimiter(event,'Description')" class="form-control" placeholder="Enter Address" autocomplete="off" maxlength="300">

                            </textarea>
                                </div>


                                <input asp-for="INTCREATEDBY" type="hidden" value='@ViewBag.CREATEDBY' />
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input"> <span class="text-danger"></span></label>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <span class="colon"></span>
                                    <button type="submit" name="submit" id="btnsubmit" class="btn btn-primary mb-1t white-text" title="Submit" value="Submit">Submit</button>
                                    <button type="button" class="btn btn-danger" title="Reset" onclick="return ClearField();"> Reset </button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
