@model CodeGen.Model.Set_Permission.SetPermissionModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Remove User Permission";

}

@section Scripts{


    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>
    <script>
        function check_uncheck_checkbox(isChecked) {
            if (isChecked) {
                $('input[name="chkbox"]').each(function () {
                    this.checked = true;
                });
            }
            else {
                $('input[name="chkbox"]').each(function () {
                    this.checked = false;
                });
            }
        }
        function ClearField() {
            $('input[type=checkbox]').prop('checked', false);
        }

    </script>
    <script type="text/javascript" language="javascript">
        function validateForm() {
            if ($('#example1 :checked').length == 0) {
                alert("No record selected for remove all permissions!");
                return false;
            }
            else {
                return confirm('Are you sure you want to remove all permissions?');
            }
        }



    </script>

}
@{
    if (TempData["CommandStatus"] != null)
    {
        <script type="text/javascript">
          alert('@(TempData["CommandStatus"])');
        </script>
    }

}

<div class="section">
    <div class="page-title">
        <div class="title-details">
            <h4>Remove User Permission</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                    <li class="breadcrumb-item">Manage User</li>
                    <li class="breadcrumb-item active" aria-current="page">Remove User Permission</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    @*<ul class="nav nav-tabs nav-fill" role="tablist">
                            <a class="nav-item nav-link" asp-controller="User" asp-action="AddUser">Add</a>
                            <a class="nav-item nav-link active" asp-controller="User" asp-action="ViewUser">View</a>
                        </ul>*@

                </div>

                <div class="card-body">
                    <form id="frmMarkInactive" data-parsley-validate novalidate method="post" asp-action="MarkAsInActive"
                          asp-controller="SetPermission" asp-area="" asp-antiforgery="true" onsubmit="return validateForm()">
                        <div class="table-responsive">
                            <table style="width:100%" class="table table-bordered cell-border" id="example1">

                                <thead>
                                    <tr>
                                        <th width="10px"><input type="checkbox" id="checkBoxAll" onclick="check_uncheck_checkbox(this.checked)" /></th>
                                        <th width="1px">
                                            SL#
                                        </th>
                                        @*<th width="10px">SL#</th>*@
                                        <th width="100px">User Name</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.UserList.Count != 0)
                                    {
                                        @foreach (var userlist in Model.UserList.Select((x, i) => new { Data = x, Index = i + 1 }))
                                        {
                                            <tr>
                                                <td>
                                                    <input class="cboxDELclass form-check-input" id="cboxDELclass" type="checkbox" name="chkbox" value="@userlist.Data.UserID" />
                                                </td>
                                                <td>@userlist.Index</td>
                                                <td>@Html.DisplayFor(modelItem => userlist.Data.UserName)</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align: center;font-size: x-large;font-weight: bolder;">
                                            <td colspan='6' align='center'> No records found!</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <button type="submit" name="submitButton" class="btn btn-primary btn-sm" title="Mark AS Inactive" value="submit">Remove All Permission</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
